<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HANK</title>
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"/ -->
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/darkly/bulmaswatch.min.css"/>
</head>

<body>
<section class="hero is-primary is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <div class="navbar-brand">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                <img src="/static/images/logo.png">
                            </a>
                        </div>
                        {% if current_user.is_authenticated %}
                        {% if current_user.permission.value == 0 %}
                        <!-- permission is an Enum type - admin evaluates to 0 -->
                        <a href="{{ url_for('main.admin') }}" class="navbar-item">
                            Admin
                        </a>
                        {% endif %}
                        {% if current_user.permission.value <= 1 %}
                        <!-- permission is an Enum type - parent evaluates to 1 -->
                        <a href="{{ url_for('main.parent') }}" class="navbar-item">
                            Parent
                        </a>
                        {% endif %}
                        <a href="{{ url_for('main.account') }}" class="navbar-item">
                            Account
                        </a>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}" class="navbar-item">
                            Login
                        </a>
                        <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                            Sign Up
                        </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                            Logout
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>